* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Bauer';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/BauerGroteskWebPro-Medium.woff') format('woff');
}

@font-face {
  font-family:'Nuvo';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/NuvoWeb-Medi.woff') format('woff');
}

@font-face {
  font-family:'FiraBook';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/FiraSans-Book.woff') format('woff');
}

@font-face {
  font-family:'FiraBookIt';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/FiraSans-BookItalic.woff') format('woff');
}

@font-face {
  font-family:'FiraMed';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/FiraSans-Medium.woff') format('woff');
}

@font-face {
  font-family:'FiraMedIt';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/FiraSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family:'CooHewBk';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/CooperHewitt-Book.woff') format('woff');
}

@font-face {
  font-family:'CooHewTh';
  src: url('https://raw.githubusercontent.com/a-mar/shiz/master/ergh/CooperHewitt-Thin.woff') format('woff');
}

body {
  width:73%;
  padding:0px 70px 70px;
  margin-left:auto;
  margin-right:auto;
  font: 131%/1.35 'FiraBook', sans-serif;
  font-weight: 300;
  color: #606c71;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

p {
  font-family: 'FiraBook', sans-serif;
  font-weight: normal;
  font-style: normal;
}

em {
  font-family: 'FiraBookIt', sans-serif;
  font-weight: normal;
  font-style: normal;
}

strong {
  font-family: 'FiraMed', sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #444;
  text-decoration: none; }
  a:hover {
    background-color: #FEE;
    border-radius: 10px}

h1, h2, h3, h4, h5, h6 {
  color:#00B4F1;
  font-family:'CooHewTh', sans-serif;
}

h1 { 
    display: block;
    font-size: 200%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    display: block;
    font-size: 141%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h3 { 
    display: block;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

{ 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

h5 { 
    display: block;
    font-size: 89%;
    text-transform:uppercase;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
}

h6 { 
    display: block;
    font-size: 82%;
    text-transform:uppercase;
    font-variant: small-caps;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
}

.page-header, .project-tagline {
  color:#00B4F1;
  font-weight:300;
  font-family:'Bauer', sans-serif;
  text-align: center;
  font-size:5rem;
  font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  text-transform: none;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern=1, liga=1, ss02=1, ss03=1, titl=1, tnum=1, lnum=1";
  -ms-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
}
  
.page-header a {
  color: #FEE;
  font-weight:300;
  text-decoration: none; }
    .page-header a:hover {
      color: #444;
      text-decoration:none;
      background-color:transparent;}
  
.site-footer {
  font-family:'Nuvo', sans-serif;
  font-weight:300;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner, .site-footer-credits, .site-footer-other {
  display: block;
  color: #819198;
  font-size: 85%;
}

.site-footer-owner {
  text-align:center;
}

.site-footer-credits {
  text-align:left;
  float:left;
}

.site-footer-other {
  text-align:right;
  float:right;
}
nav ul li {
    display: inline;
    margin-right:100px;
    margin-left:-40px;
    font-family:'Nuvo', sans-serif;
    text-transform:lowercase;
    font-size: 90%;
}
